rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /{document=**} {
      allow read, write: if false;
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Users
    match /users/{userId}/public/profile {
      allow read: if isSignedIn();
      allow create, update: if isOwner(userId);
      allow delete: if isOwner(userId);
    }

    match /users/{userId}/private/info {
      allow read, create, update, delete: if isOwner(userId);
    }

    // Teams
    match /teams/{teamId} {
      allow get: if isSignedIn();
      allow list: if isSignedIn() && resource.data.ownerId == request.auth.uid;
      allow create: if isSignedIn() && request.resource.data.ownerId == request.auth.uid;
      allow update: if isSignedIn() && resource.data.ownerId == request.auth.uid;
      allow delete: if isSignedIn() && resource.data.ownerId == request.auth.uid;
    }

    // Colleagues
    match /teams/{teamId}/colleagues/{colleagueId} {
      allow read, list: if isSignedIn();
      allow create, update, delete: if isSignedIn()
        && get(/databases/$(database)/documents/teams/$(teamId)).data.ownerId == request.auth.uid;
    }

    // Absences
    match /teams/{teamId}/absences/{absenceId} {
      allow read, list: if isSignedIn();
      allow create, update, delete: if isSignedIn()
        && get(/databases/$(database)/documents/teams/$(teamId)).data.ownerId == request.auth.uid;
    }

    // Members
    match /teams/{teamId}/members/{memberId} {
      allow read, list: if isSignedIn();
      allow create, update, delete: if isSignedIn()
        && get(/databases/$(database)/documents/teams/$(teamId)).data.ownerId == request.auth.uid;
    }

    // CMS
    match /cms/{document} {
      allow read: if true;
      allow write: if isSignedIn() && request.auth.token.admin == true;
    }
  }
}
